linux_kernel
.vs/ProjectSettings.json
.vscode
.idea
.fleet
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/VS Code/FileContentIndex/9e778c2f-c1d2-4c5a-8e66-7b9ad090d35d.vsidx
.vs/VS Code/FileContentIndex/96d6814d-721e-463b-9b08-73b28742762f.vsidx
.vs/VS Code/FileContentIndex/27620c2f-bbaa-476a-9301-cfeefeba6e6c.vsidx
.vs/VS Code/FileContentIndex/read.lock
.vs/VS Code/v17/.wsuo
.vs/VS Code/v17/Browse.VC.db
.vs/VS Code/v17/workspaceFileList.bin
.vs/VS Code/v17/ipch/AutoPCH/591e94ca6339b54f/TEMPCODERUNNERFILE.ipch
.vs/VS Code/v17/ipch/AutoPCH/6a0eab0b29842110/STRUT.ipch
.vscode/c_cpp_properties.json
.vscode/settings.json

zc/*
.vs
*.exe
*.joblib
*.pkl
*.png
*.jpg
*.jpeg
*.V2
*.zip
.idea
.vscode
*.class

rs/*/target
*.lock